@import 'bootstrap';
@import "font-awesome";
@import 'users';
@import 'sessions';
@import 'reboot';

body{
  background: #e6ecf0;
  font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  &:focus{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
}
